* {
  margin: 0;
  padding: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 335px;
  height: 335px;
  border: 1px solid black;
  padding: 3px;
}

.inner-container{
  width: 162px;
  height: 162px;
  background-color: black;
  border: 1px solid pink;
}
.numbers{
  height: 140px;
  width: 140px;
  background-color: #c0c0c0;
  color: white;
  font-size: 120px;
}