/* .container {
  margin: 0;
  padding: 0;
  display: flex;
}

.prevous {
  width: 100px;
  height: 500px;
}
.image {
  background-image: url(./00XEmE7YBg1AOLEzZFQxhJV-3.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 300px;
}

.next {
  width: 100px;
  height: 500px;
} */



