* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(./wallpaperflare.com_wallpaper.jpg) no-repeat center/cover;
  height: 100vh;
}
#boards {
  gap: 16px;
  display: flex;
  padding-block: 120px;
}

.board {
  width: 310px;
  padding: 8px;
  border-radius: 8px;
  background-color: #ebecf0;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.header h3 {
  font-size: 20px;
}

#active-modal {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all ease 0.3s;
}
#active-modal:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.layer {
  inset: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal {
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  padding: 16px;
  background-color: white;
  border-radius: 8px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.modal div {
  display: flex;
  flex-direction: column;
}
.modal div input,
.modal div select {
  padding: 8px;
}

#modal-container {
  display: none;
}

#add-new-task {
  background-color: black;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 8px;
}
.task {
  display: flex;
  background-color: white;
  border-radius: 8px;
  padding: 8px;
  border-radius: 8px;
  gap: 12px;
  width: 100%;
}

.task-text-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.task-line {
  display: flex;
  justify-content: space-between;
}
.task-line button {
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebecf0;
  border-radius: 50%;
  border: none;
}
.task-priority {
  padding: 4px;
  font-size: 12px;
  border: 1px solid black;
  width: min-content;
  border-radius: 8px;
}
